.color-container{
    background-color: rgb(84, 30, 146);
}

.color-custom{

    background-color: rgb(228, 226, 222);
}

.email-fs{
    font-size: .8rem;
}
.container-fluid{
    min-height: 100vh;
}
.row-custom{
   flex: 1;
}

.newClient:hover, .clients:hover{
    background-color: blueviolet;
    cursor: pointer;
}

.centered-text{
    vertical-align: middle;
}
